@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary : #8BC53F;
  --clr-secondary : #8BC53F;
  --clr-accent : #5D9943;

}

@font-face {
  font-family: vazir;
  src: url("../fonts/vazir/Vazir-Medium-FD-WOL.ttf") format("truetype"),
    url("../fonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("../fonts/vazir/Vazir-Medium-FD-WOL.woff2") format("woff2");
}

@font-face {
    font-family: iransans;
    src: url("../fonts/iransans/IRANSansWebFaNum.woff2") format("woff2");
  }

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
}


h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }


}